# My Jupyter Notebook on IBM Data Science Experience

**Karen McEwen**  
Data Analysis

*I am interested in data analysis today because I have a Master's Degree in Applied Mathematics and used to do data analysis many years ago.  Now the tools are so much better, and we can get so much more information out of the reams of data that are collected.  Also, the pay is better than my current occupation.*

### The next cell will add the numbers 2 and 3 ###

In [34]:
2+3

5

### Numbered list of my favorite programming languages ###
1. Python
2. C#
3. javascript

### Block quote
> Our greatest weakness lies in giving up. The most certain way to succeed is always to try just one more time.” – Thomas A. Edison

### Unordered list of my current reading
- *Python Crash Course* by Eric Matthes
- *Practical SQL* by Anthony DeBarros

### Table ###  
##### remember to use spaces (1 between pipes and 2 at end for new line) and the line of dashes for the table to correctly format #####
| planet | number from the sun | 
|------- | ---------- |  
| Mercury | 1 |  
| Earth | 3 |  
| Mars | 4 |  
| Neptune | 8 |  


### Hyperlink ###  
[source for planet information](https://www.universetoday.com/72305/order-of-the-planets-from-the-sun/)

### Graphic ###
![planets](https://www.universetoday.com/wp-content/uploads/2009/06/dn9824-1_831.jpg)